.mainDiv {
    border: black solid 3px;
    border-radius: 15px;
    width: 545px;
    height: 585px;
}

.profileDiv {
    height: 440px;
    background-color: #f9f9f9;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom: gray solid 3px;
    font-size: 35px;
}

.profileImg {
    margin-top: 20px;
    border-radius: 100px;
    background-color: #242424;
    height: 200px;
    width: 200px;
}

.profileName {
    margin: 0px;
    color: black;
    font-weight: bold;
    font-size: 38px;

}

.profileTag {
    margin-top: 20px;
    margin-bottom: 0px;
    color: gray;
}

.profileLocation {
    margin-top: 1px;
    margin-bottom: 10px;
    color: gray;
}

.mainUi {
    background-color: darkgray;
    width: 545px;
    height: 143px;
    padding: 0;
    margin: 0px;
    text-align: center;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    font-size: 30px;
    color: black;
}

.mainUi li {
    width: 32.6%;
    height: 100%;
    display: inline-block;
    
}

.mainUi li span {
    display: block;

}

.border {
    border-right: gray solid 3px;
}

.spanName {
    margin-top: 35px;
}

.spanInfo {
    color: black;
    font-weight: bold;
}