.mainUl {
    padding: 0px;
    color: black;
    position: relative;
    right: 20px;
}
.mainUl li {
    display: inline-block;
    width: 105px;
    height: 165px;
    border: black solid 2px;
    border-radius: 12px;
    margin-right:10px;
}

p {
    font-size: 24px;
    margin: 0;
}

.avatarImg {
    margin-top: 10px;
    height: 75px;
    width: 90px;
}

.status {
    font-size: 18px;
}

.status.online {
    color: green;
}

.status.offline {
    color: red;
}