.mainUl {
    padding: 0px;
    color: black;
    position: relative;
    right: 20px;
}
.mainUl li {
    display: inline-block;
    width: 105px;
    height: 165px;
    border: black solid 2px;
    border-radius: 12px;
    margin-right:10px;
}