table {
    position: relative;
    right: 20px;
    width: 600px;
    height: 100px;
    border-collapse: collapse;
    border: black solid 1px;
}

table th {
    border: black solid 1px;
    color: white;
    background-color: black;
}

table td {
    color: black;
    border: black solid 1px;
}

tbody tr:nth-of-type(even) {
    background-color: lightgrey;
}